# Dependencies
/node_modules

# Build output
/dist
/dist-ssr

# Vite build cache & public
.vite
.svelte-kit

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!/.env.example

# IDE and OS files
.DS_Store
Thumbs.db
*.pem
*.key
*.swp
*.swo